@import '../vars.css';

.activity__form {
  padding: 0 calc(var(--smallMargin) * 2);
  max-width: calc(var(--largeMargin) * 15);
  margin: 0 auto;
}

.Activity__title {
  font-size: var(--bigfont);
  text-align: center;
}

.activity__form__description {
  margin-bottom: calc(var(--smallMargin) * 2.5);
}

.activity__label {
  margin-top: var(--largeMargin);
}

.has-js .phase2 {
  display: none;
}

.has-js .phase3 {
  display: none;
}

.activity__form__section {
  display: flex;
  flex-flow: column;
}

.button__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: var(--largeMargin);
}

.activity__button {
  background-color: var(--textColor);
  border-radius: var(--smallMargin);
  width: calc(var(--largeMargin) * 4);
  height: calc(var(--smallMargin) * 4);
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--smallfont);
  box-shadow: 0 0 var(--smallMargin) rgba(0, 0, 0, .25);
}

.back-button::before {
  content: '';
  background-image: url(../../assets/img/arrow.svg);
  width: calc(var(--smallMargin) * 1.8);
  height: calc(var(--smallMargin) * 1.5);
  display: inline-block;
  margin-left: calc(var(--smallMargin) * -2);
  margin-right: calc(var(--smallMargin) * 2);
}

.next-button::after {
  content: '';
  background-image: url(../../assets/img/arrow.svg);
  transform: rotate(180deg);
  width: calc(var(--smallMargin) * 1.8);
  height: calc(var(--smallMargin) * 1.5);
  display: inline-block;
  margin-left: calc(var(--smallMargin) * 2);
  margin-right: calc(var(--smallMargin) * -2);
}

input[type=number] {
  width: calc(var(--smallMargin) * 10);
  height: calc(var(--smallMargin) * 4.4);
  padding: var(--smallMargin);
  font-size: var(--smallfont);
}

.num__wrapper {
  display: flex;
  justify-content: center;
}

.input__description {
  height: calc(var(--smallMargin) * 16.6);
}

.num__wrapper-label {
  display: flex;
  flex-flow: column;
}

.detail_video {
  display: none;
}

.has-js .detail_video {
  display: block;
}

input[type=range] {
  appearance: none;
  background: transparent;
  border: none;
  overflow: hidden;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: white;
  border: 1px solid var(--textColor);
  height: calc(var(--smallMargin) * 2);
  width: calc(var(--smallMargin) * 2);
  margin-top: calc(var(--smallMargin) * -.8);
  border-radius: calc(var(--smallMargin) * 2);
  box-shadow: calc(var(--smallMargin) * 31) 0 0 calc(var(--smallMargin) * 30) var(--colorBlue);
}

input[type=range]::-webkit-slider-runnable-track {
  height: calc(var(--smallMargin) / 2.5);
  background: var(--colorBlue);
}
