@import '../vars.css';

.detail-overview {
  overflow: scroll;
  height: calc(100vh - calc(var(--smallMargin) * 45));
}

.detail__title {
  font-size: var(--bigfont);
  font-weight: 700;
  margin-bottom: var(--largeMargin);
}

.detail__time {
  background-color: var(--colorlightBlue);
  border-radius: var(--smallMargin) var(--smallMargin) 0 0;
  box-shadow: var(--purpleBoxshadow);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(var(--smallMargin) * 32);
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail__time__circle {
  width: calc(var(--smallMargin) * 22);
  height: calc(var(--smallMargin) * 22);
  border: calc(var(--largeMargin) / 10) solid var(--colorBlue);
  border-radius: calc(var(--smallMargin) * 22);
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail__time__clock {
  font-size: var(--timeFont);
}

.detail_video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: var(--largeMargin);
}

.detail_video iframe, .detail_video object, .detail_video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.input {
  width: 100%;
}
