@import '../vars.css';

.activities {
  height: calc(100vh - calc(var(--smallMargin) * 52));
  /* full viewheight - play section & header & add button & margin */
  overflow: scroll;
}

.activities__activity-list__item__link {
  padding: var(--smallMargin);
  display: grid;
  grid-template-columns: auto calc(var(--largeMargin) * 2);
  grid-template-rows: 1fr auto;
  grid-column-gap: calc(var(--smallMargin) * 2);
  grid-row-gap: calc(var(--smallMargin));
}

.white-button-list__time-button {
  justify-self: end;
  grid-row: 1/2;
  grid-column: 2/3;
}

.play {
  background-color: var(--colorlightBlue);
  border-radius: var(--smallMargin) var(--smallMargin) 0 0;
  box-shadow: var(--purpleBoxshadow);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(var(--smallMargin) * 32);
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.play__title {
  font-size: var(--mediumfont);
  font-weight: 700;
  margin-top: var(--largeMargin);
}

.play__circle {
  background-image: var(--gradient);
  width: calc(var(--smallMargin) * 14.4);
  height: calc(var(--smallMargin) * 14.4);
  border-radius: calc(var(--smallMargin) * 14.4);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: calc(var(--smallMargin) * 2) 0;
}

.play__circle__button {
  margin-left: var(--smallMargin);
}
