@import './css/reset.css';
@import './css/vars.css';
@import './css/components/header.css';
@import './css/components/home.css';
@import './css/components/intensity.css';
@import './css/components/workout.css';
@import './css/components/activity.css';
@import './css/components/detail.css';

@custom-media --small-screen (width >= 600px);
@custom-media --large-screen (width >= 900px);

html {
  box-sizing: border-box;
  font-family: 'Istok Web', sans-serif;
  background-color: var(--background);
  font-size: var(--smallfont);
  color: var(--textColor);
}

/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */

.hidden {
  display: none;
}

@media (--small-viewport) {

  .wrapper {
    padding: 0 calc(var(--smallMargin) * 2);
  }

  .activity__form {
    padding: 0;
  }

  .activities__activity-list__item__link {
    grid-template-columns: calc(var(--largeMargin) * 2) auto calc(var(--largeMargin) * 2) var(--largeMargin);
    grid-template-rows: 1fr;
    grid-column-gap: calc(var(--smallMargin) * 2);
  }

  .white-button-list__time-button {
    grid-row: 1/2;
    grid-column: 4/5;
  }
}

@media (--medium-viewport) {

  .wrapper {
    padding: 0 calc(var(--smallMargin) * 2);
  }

  .white-button-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--mediumMargin);
  }
}

@media (--large-viewport) {

  .wrapper {
    max-width: calc(var(--smallMargin) * 96);
    margin: 0 auto;
  }
}

.wrapper {
  margin: calc(var(--smallMargin) * 2) auto 0 auto;

}

.button-white {
  background-color: white;
  align-items: center;
  font-weight: 700;
  color: var(--textColor);
  text-decoration: none;
  border-radius: var(--smallMargin);
  box-shadow: var(--purpleBoxshadow);
}

.title {
  font-weight: 700;
  margin-bottom: calc(var(--smallfont) / 2);
}

.subtext {
  opacity: .6;
  margin-bottom: var(--mediumfont);
}

.bold {
  font-weight: 700;
}

.add__button {
  background-color: var(--textColor);
  height: calc(var(--smallMargin) * 4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--smallMargin);
  margin: var(--mediumMargin) auto;
  box-shadow: 0 0 var(--smallMargin) rgba(0, 0, 0, .25);
  max-width: calc(var(--smallMargin) * 40);
}

.add {
  padding-bottom: 10px;
}

.white-button-list__time {
  border-radius: calc(var(--smallMargin) / 2.5);
  border: calc(var(--smallMargin) / 10) solid var(--colorBlue);
  width: calc(var(--largeMargin) * 2);
  height: var(--largeMargin);
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  resize: none;
}

textarea,
select,
input,
button {
  outline: none;
}

button {
  border: none;
  background: none;
}

textarea,
input {
  border: calc(var(--smallMargin) / 10) solid var(--colorBlue);
  border-radius: var(--smallMargin);
  font-size: var(--smallfont);
  color: var(--textColor);
  padding: var(--smallMargin);
}

.input__title {
  height: calc(var(--smallMargin) * 4.4);
}

.jserror {
  color: red;
  margin-top: var(--smallMargin);
}
